@page "/fetchdata"
@using BlazorApp.Shared 
@using System.Net.Http.Json
@using System.Text.Json.Serialization
@using openmeteo_sdk

@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<h1>Weather forecast</h1>

@* <p>This component demonstrates fetching data from the server.</p> *@

@* @if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table> *@

<br/>
    <h3>Raw Weather Data by DEG:</h3>


    @if (apiResponse != null)
    {
        <pre>Latitude: @apiResponse.Latitude</pre>
        <pre>Longitude: @apiResponse.Longitude</pre>
    }

     @*
        Display summary - string built in below  from Current
    *@
    <pre>@weatherSummary</pre>


    <br/><br/><br/>
    
    @*
        Loop over the Daily results and display some of the data
    *@
    @if (apiResponse != null)
    {    
        <h3>Daily Data</h3>
        <table class="table">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Sunrise</th>
                <th>UV Index</th>
                <th>Max Temp (F)</th>
            </tr>
        </thead>

        @for (int i = 0; i < apiResponse.Daily.Time.Count; i++)
        {
            <tr>
                <td> @apiResponse.Daily.Time[i].ToString()</td>
                <td> @apiResponse.Daily.Sunrise[i].ToString()</td>
                <td> @apiResponse.Daily.UvIndexMax[i].ToString()</td>
                <td> @apiResponse.Daily.Temperature2mMax[i].ToString()</td>
            </tr>
            
        }
        </table>

        <br/><br/><br/>

        @*
        Loop over the Hourly results and display some of the data
        *@
        <h3>Hourly Data</h3>
        <table class="table">
        <thead>
            <tr>
                <th>Date/Time</th>
                <th>Temp (F)</th>
                <th>Relative Humidity</th>
                <th>Wind Speed</th>
                <th>Wind Direction</th>
                <th>Weather Code</th>
                <th>Cloud Cover</th>
                <th>Visibility</th>
            </tr>
        </thead>
        @for (int i = 0; i < apiResponse.Hourly.Time.Count; i++)
        {
            <tr>
                <td> @apiResponse.Hourly.Time[i].ToString()</td>
                <td> @apiResponse.Hourly.Temperature2m[i].ToString()</td>
                <td> @apiResponse.Hourly.RelativeHumidity2m[i].ToString()</td>
                <td> @apiResponse.Hourly.WindSpeed10m[i].ToString()</td>
                <td> @apiResponse.Hourly.WindDirection10m[i].ToString()</td>
                <td> @apiResponse.Hourly.WeatherCode[i].ToString()</td>
                <td> @apiResponse.Hourly.CloudCover[i].ToString()</td>
                <td> @apiResponse.Hourly.Visibility[i].ToString()</td>
            </tr>
        }
        </table>
    }


@* //} *@

@code 
{

    // Root myDeserializedClass = JsonConvert.DeserializeObject<Root>(myJsonResponse);
    // Root myDeserializedClass = JsonConvert.DeserializeObject<Root>(myJsonResponse);
    
    // Root myDeserializedClass = JsonSerializer.Deserialize<Root>(myJsonResponse);
    public class Current
    {
        [JsonPropertyName("time")]
        public string Time { get; set; }

        [JsonPropertyName("interval")]
        public int Interval { get; set; }

        [JsonPropertyName("temperature_2m")]
        public double Temperature2m { get; set; }

        [JsonPropertyName("relative_humidity_2m")]
        public int RelativeHumidity2m { get; set; }

        [JsonPropertyName("apparent_temperature")]
        public double ApparentTemperature { get; set; }

        [JsonPropertyName("is_day")]
        public int IsDay { get; set; }

        [JsonPropertyName("wind_speed_10m")]
        public double WindSpeed10m { get; set; }

        [JsonPropertyName("wind_direction_10m")]
        public int WindDirection10m { get; set; }

        [JsonPropertyName("wind_gusts_10m")]
        public double WindGusts10m { get; set; }

        [JsonPropertyName("precipitation")]
        public double Precipitation { get; set; }

        [JsonPropertyName("rain")]
        public double Rain { get; set; }

        [JsonPropertyName("showers")]
        public double Showers { get; set; }

        [JsonPropertyName("snowfall")]
        public double Snowfall { get; set; }

        [JsonPropertyName("weather_code")]
        public int WeatherCode { get; set; }

        [JsonPropertyName("cloud_cover")]
        public int CloudCover { get; set; }

        [JsonPropertyName("pressure_msl")]
        public double PressureMsl { get; set; }

        [JsonPropertyName("surface_pressure")]
        public double SurfacePressure { get; set; }
    }

    public class CurrentUnits
    {
        [JsonPropertyName("time")]
        public string Time { get; set; }

        [JsonPropertyName("interval")]
        public string Interval { get; set; }

        [JsonPropertyName("temperature_2m")]
        public string Temperature2m { get; set; }

        [JsonPropertyName("relative_humidity_2m")]
        public string RelativeHumidity2m { get; set; }

        [JsonPropertyName("apparent_temperature")]
        public string ApparentTemperature { get; set; }

        [JsonPropertyName("is_day")]
        public string IsDay { get; set; }

        [JsonPropertyName("wind_speed_10m")]
        public string WindSpeed10m { get; set; }

        [JsonPropertyName("wind_direction_10m")]
        public string WindDirection10m { get; set; }

        [JsonPropertyName("wind_gusts_10m")]
        public string WindGusts10m { get; set; }

        [JsonPropertyName("precipitation")]
        public string Precipitation { get; set; }

        [JsonPropertyName("rain")]
        public string Rain { get; set; }

        [JsonPropertyName("showers")]
        public string Showers { get; set; }

        [JsonPropertyName("snowfall")]
        public string Snowfall { get; set; }

        [JsonPropertyName("weather_code")]
        public string WeatherCode { get; set; }

        [JsonPropertyName("cloud_cover")]
        public string CloudCover { get; set; }

        [JsonPropertyName("pressure_msl")]
        public string PressureMsl { get; set; }

        [JsonPropertyName("surface_pressure")]
        public string SurfacePressure { get; set; }
    }

    public class Daily
    {
        [JsonPropertyName("time")]
        public List<string> Time { get; set; }

        [JsonPropertyName("weather_code")]
        public List<int> WeatherCode { get; set; }

        [JsonPropertyName("temperature_2m_max")]
        public List<double> Temperature2mMax { get; set; }

        [JsonPropertyName("temperature_2m_min")]
        public List<double> Temperature2mMin { get; set; }

        [JsonPropertyName("apparent_temperature_max")]
        public List<double> ApparentTemperatureMax { get; set; }

        [JsonPropertyName("apparent_temperature_min")]
        public List<double> ApparentTemperatureMin { get; set; }

        [JsonPropertyName("sunrise")]
        public List<string> Sunrise { get; set; }

        [JsonPropertyName("sunset")]
        public List<string> Sunset { get; set; }

        [JsonPropertyName("daylight_duration")]
        public List<double> DaylightDuration { get; set; }

        [JsonPropertyName("sunshine_duration")]
        public List<double> SunshineDuration { get; set; }

        [JsonPropertyName("uv_index_max")]
        public List<double> UvIndexMax { get; set; }

        [JsonPropertyName("uv_index_clear_sky_max")]
        public List<double> UvIndexClearSkyMax { get; set; }

        [JsonPropertyName("shortwave_radiation_sum")]
        public List<double> ShortwaveRadiationSum { get; set; }
    }

    public class DailyUnits
    {
        [JsonPropertyName("time")]
        public string Time { get; set; }

        [JsonPropertyName("weather_code")]
        public string WeatherCode { get; set; }

        [JsonPropertyName("temperature_2m_max")]
        public string Temperature2mMax { get; set; }

        [JsonPropertyName("temperature_2m_min")]
        public string Temperature2mMin { get; set; }

        [JsonPropertyName("apparent_temperature_max")]
        public string ApparentTemperatureMax { get; set; }

        [JsonPropertyName("apparent_temperature_min")]
        public string ApparentTemperatureMin { get; set; }

        [JsonPropertyName("sunrise")]
        public string Sunrise { get; set; }

        [JsonPropertyName("sunset")]
        public string Sunset { get; set; }

        [JsonPropertyName("daylight_duration")]
        public string DaylightDuration { get; set; }

        [JsonPropertyName("sunshine_duration")]
        public string SunshineDuration { get; set; }

        [JsonPropertyName("uv_index_max")]
        public string UvIndexMax { get; set; }

        [JsonPropertyName("uv_index_clear_sky_max")]
        public string UvIndexClearSkyMax { get; set; }

        [JsonPropertyName("shortwave_radiation_sum")]
        public string ShortwaveRadiationSum { get; set; }
    }

    public class Hourly
    {
        [JsonPropertyName("time")]
        public List<string> Time { get; set; }

        [JsonPropertyName("temperature_2m")]
        public List<double> Temperature2m { get; set; }

        [JsonPropertyName("relative_humidity_2m")]
        public List<int> RelativeHumidity2m { get; set; }

        [JsonPropertyName("dew_point_2m")]
        public List<double> DewPoint2m { get; set; }

        [JsonPropertyName("apparent_temperature")]
        public List<double> ApparentTemperature { get; set; }

        [JsonPropertyName("precipitation_probability")]
        public List<int> PrecipitationProbability { get; set; }

        [JsonPropertyName("rain")]
        public List<double> Rain { get; set; }

        [JsonPropertyName("showers")]
        public List<double> Showers { get; set; }

        [JsonPropertyName("weather_code")]
        public List<int> WeatherCode { get; set; }

        [JsonPropertyName("pressure_msl")]
        public List<double> PressureMsl { get; set; }

        [JsonPropertyName("surface_pressure")]
        public List<double> SurfacePressure { get; set; }

        [JsonPropertyName("cloud_cover")]
        public List<int> CloudCover { get; set; }

        [JsonPropertyName("visibility")]
        public List<double> Visibility { get; set; }

        [JsonPropertyName("wind_speed_10m")]
        public List<double> WindSpeed10m { get; set; }

        [JsonPropertyName("wind_direction_10m")]
        public List<int> WindDirection10m { get; set; }

        [JsonPropertyName("wind_gusts_10m")]
        public List<double> WindGusts10m { get; set; }

        [JsonPropertyName("uv_index")]
        public List<double> UvIndex { get; set; }

        [JsonPropertyName("uv_index_clear_sky")]
        public List<double> UvIndexClearSky { get; set; }

        [JsonPropertyName("is_day")]
        public List<int> IsDay { get; set; }

        [JsonPropertyName("direct_normal_irradiance")]
        public List<double> DirectNormalIrradiance { get; set; }

        [JsonPropertyName("shortwave_radiation")]
        public List<double> ShortwaveRadiation { get; set; }

        [JsonPropertyName("direct_radiation")]
        public List<double> DirectRadiation { get; set; }

        [JsonPropertyName("diffuse_radiation")]
        public List<double> DiffuseRadiation { get; set; }
    }

    public class HourlyUnits
    {
        [JsonPropertyName("time")]
        public string Time { get; set; }

        [JsonPropertyName("temperature_2m")]
        public string Temperature2m { get; set; }

        [JsonPropertyName("relative_humidity_2m")]
        public string RelativeHumidity2m { get; set; }

        [JsonPropertyName("dew_point_2m")]
        public string DewPoint2m { get; set; }

        [JsonPropertyName("apparent_temperature")]
        public string ApparentTemperature { get; set; }

        [JsonPropertyName("precipitation_probability")]
        public string PrecipitationProbability { get; set; }

        [JsonPropertyName("rain")]
        public string Rain { get; set; }

        [JsonPropertyName("showers")]
        public string Showers { get; set; }

        [JsonPropertyName("weather_code")]
        public string WeatherCode { get; set; }

        [JsonPropertyName("pressure_msl")]
        public string PressureMsl { get; set; }

        [JsonPropertyName("surface_pressure")]
        public string SurfacePressure { get; set; }

        [JsonPropertyName("cloud_cover")]
        public string CloudCover { get; set; }

        [JsonPropertyName("visibility")]
        public string Visibility { get; set; }

        [JsonPropertyName("wind_speed_10m")]
        public string WindSpeed10m { get; set; }

        [JsonPropertyName("wind_direction_10m")]
        public string WindDirection10m { get; set; }

        [JsonPropertyName("wind_gusts_10m")]
        public string WindGusts10m { get; set; }

        [JsonPropertyName("uv_index")]
        public string UvIndex { get; set; }

        [JsonPropertyName("uv_index_clear_sky")]
        public string UvIndexClearSky { get; set; }

        [JsonPropertyName("is_day")]
        public string IsDay { get; set; }

        [JsonPropertyName("direct_normal_irradiance")]
        public string DirectNormalIrradiance { get; set; }

        [JsonPropertyName("shortwave_radiation")]
        public string ShortwaveRadiation { get; set; }

        [JsonPropertyName("direct_radiation")]
        public string DirectRadiation { get; set; }

        [JsonPropertyName("diffuse_radiation")]
        public string DiffuseRadiation { get; set; }
    }

    public class Root
    {
        [JsonPropertyName("latitude")]
        public double Latitude { get; set; }

        [JsonPropertyName("longitude")]
        public double Longitude { get; set; }

        [JsonPropertyName("generationtime_ms")]
        public double GenerationtimeMs { get; set; }

        [JsonPropertyName("utc_offset_seconds")]
        public int UtcOffsetSeconds { get; set; }

        [JsonPropertyName("timezone")]
        public string Timezone { get; set; }

        [JsonPropertyName("timezone_abbreviation")]
        public string TimezoneAbbreviation { get; set; }

        [JsonPropertyName("elevation")]
        public double Elevation { get; set; }

        [JsonPropertyName("current_units")]
        public CurrentUnits CurrentUnits { get; set; }

        [JsonPropertyName("current")]
        public Current Current { get; set; }

        [JsonPropertyName("hourly_units")]
        public HourlyUnits HourlyUnits { get; set; }

        [JsonPropertyName("hourly")]
        public Hourly Hourly { get; set; }

        [JsonPropertyName("daily_units")]
        public DailyUnits DailyUnits { get; set; }

        [JsonPropertyName("daily")]
        public Daily Daily { get; set; }
    }





    private string wxdata = "";
    private string weatherSummary = "";

    Root? apiResponse;

    protected override async Task OnInitializedAsync()
    {
    

        //wxdata = await Http.GetStringAsync("/api/WeatherForecast/raw");
        
        //Old API URLs
        //string url = "https://api.open-meteo.com/v1/forecast?latitude=38.221918&longitude=-76.614918&current=temperature_2m,relative_humidity_2m,apparent_temperature,is_day,wind_speed_10m,wind_direction_10m,wind_gusts_10m,precipitation,rain,showers,snowfall,weather_code,cloud_cover,pressure_msl,surface_pressure&past_days=10&hourly=temperature_2m,relative_humidity_2m,wind_speed_10m";
        //https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m,relative_humidity_2m,apparent_temperature,is_day,wind_speed_10m,wind_direction_10m,wind_gusts_10m,precipitation,rain,showers,snowfall,weather_code,cloud_cover,pressure_msl,surface_pressure
        //https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,sunrise,sunset,daylight_duration,sunshine_duration,uv_index_max,uv_index_clear_sky_max,shortwave_radiation_sum&current=temperature_2m,relative_humidity_2m,apparent_temperature,is_day,wind_speed_10m,wind_direction_10m,wind_gusts_10m,precipitation,rain,showers,snowfall,weather_code,cloud_cover,pressure_msl,surface_pressure
        
        // Link to build API URL: https://open-meteo.com/en/docs
        // Built by DEG on 28 Nov 2025
        string url = "https://api.open-meteo.com/v1/forecast?latitude=38.221918&longitude=-76.614918&daily=weather_code,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,sunrise,sunset,daylight_duration,sunshine_duration,uv_index_max,uv_index_clear_sky_max,shortwave_radiation_sum&hourly=temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation_probability,rain,showers,weather_code,pressure_msl,surface_pressure,cloud_cover,visibility,wind_speed_10m,wind_direction_10m,wind_gusts_10m,uv_index,uv_index_clear_sky,is_day,direct_normal_irradiance,shortwave_radiation,direct_radiation,diffuse_radiation&current=temperature_2m,relative_humidity_2m,apparent_temperature,is_day,wind_speed_10m,wind_direction_10m,wind_gusts_10m,precipitation,rain,showers,snowfall,weather_code,cloud_cover,pressure_msl,surface_pressure&timezone=America%2FNew_York&past_days=7&wind_speed_unit=mph&temperature_unit=fahrenheit&precipitation_unit=inch";

        using (HttpClient client = new HttpClient())
        {
            // Make the API call and store response in wxdata string.  This will be a big JSON string.  
            wxdata = await client.GetStringAsync(url);
            if (wxdata!= null)
            {
                //Convert JSON string from API response into C# objects
                apiResponse = System.Text.Json.JsonSerializer.Deserialize<Root>(wxdata);

                if (apiResponse != null && apiResponse.Current != null && apiResponse.CurrentUnits != null)
                {
                    // Build a summary string from the Current data
                    weatherSummary = "Current Temperature: " + apiResponse.Current.Temperature2m + apiResponse.CurrentUnits.Temperature2m +
                             "\nCurrent Wind Speed: " + apiResponse.Current.WindSpeed10m + apiResponse.CurrentUnits.WindSpeed10m +
                             "\nCurrent Wind Direction: " + apiResponse.Current.WindDirection10m + apiResponse.CurrentUnits.WindDirection10m +
                             "\nCurrent Humidity: " + apiResponse.Current.RelativeHumidity2m + apiResponse.CurrentUnits.RelativeHumidity2m +
                             "\nCurrent Weather: " + apiResponse.Current.WeatherCode + apiResponse.CurrentUnits.WeatherCode +
                             "\nCurrent Pressure: " + apiResponse.Current.PressureMsl + apiResponse.CurrentUnits.PressureMsl +
                             "\nCurrent Precipitation: " + apiResponse.Current.Precipitation + apiResponse.CurrentUnits.Precipitation +
                             "\nCurrent Apparent Temperature: " + apiResponse.Current.ApparentTemperature + apiResponse.CurrentUnits.ApparentTemperature + 
                             "\nIs Day (1=Yes,0=No): " + apiResponse.Current.IsDay + apiResponse.CurrentUnits.IsDay +
                             "\nWind Gusts: " + apiResponse.Current.WindGusts10m + apiResponse.CurrentUnits.WindGusts10m;
                }
            }
        }

    }
}   
